@charset "UTF-8";

/* 
Em HTML o id = em CSS ao #
Em HTML a Class = em CSS ao .
*/

body {
    background-color: rgba(0, 255, 255, 0.76);
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(5, 65, 65);
}

h1#principal {
    text-align: center;
}

h2 {
    color: rgb(5, 20, 83);
}
