@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #3a5a40, #588157,#a3b18a);
}

main {
    margin: auto;
    width: 600px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3a5a40;
    
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 28px;
    color: #333;
}

 h2 {
    font-size: 20px;
    color: #555;
 }

p {
    text-align: justify;
    color: #555;
}