@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right,#8895B3, #8E94F2, #b360e4);
}

main {
    background-color: white;
    /* mexer nas bordas */
    border-radius: 10px;
    /* efeito de luz na box */
    box-shadow: 5px 5px 15px #636c83;
    /* tamanho*/
    width: 600px;
    /* preenchemento da box*/
    padding: 10px;
    /* centralizar */
    margin: auto;
}

h1 {
    color: #2e67b1;
    text-align: center;
    /* efeito de luz */
    text-shadow: 1px 1px 2px #214a80af ;
}

h2 {
    color: #1f3169;
}

p {
    text-align: justify;
}